.paragrph {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paragrph input {
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1.5rem;
  height: 4rem;
  width: 90%;
  margin: 1em auto;
  max-width: 650px;
  border: none;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px rgb(236, 240, 254);
}

.editBtn {
  border: none;
  font-size: 2.5rem;
  background: none;
  cursor: pointer;
  height: 1em;
  width: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 240, 254);
}

.editBtn:hover {
  transform: scale(1.05);
  color: #000000;
  background-color: rgb(236, 240, 254);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border: none;
}
