* {
  box-sizing: border-box;
}

.App {
  top: 0;
  background: rgb(236, 240, 254);
  text-align: center;
  width: 100%;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blog-content {
  width: 90%;
  max-width: 920px;
  margin: auto;
}

.image {
  background-color: white;
  right: 0;
  position: absolute;
  z-index: 1;
  width: 550px;
  margin-right: 0;
  top: 0;
  margin-left: auto;
  height: 100vh;
}

.hideImage {
  display: none;
}

.imageTitle {
  background-color: white;
}

.searchBar {
  background-color: white;
}

.itemImage {
  width: 230px;
  height: 200px;
  margin: 2.5px 5px;
}

.image-list {
  background-color: white;
  margin: 10px 20px;
}
